 <!-- coutnry modal -->
 <%=	erb :modal %>

 <div class="span12">
 		<div class="row">
 			<div class="span8">
 				<div id="map-canvas">
 				</div>
 			</div>
 			<div class="span4">
 				<div class="country-search-box">
 					<input id="search-countries" class="typeahead input-block-level search-countries"   type="text" placeholder="countries">
 				</div>
 				<div class="spinner">
				  <div class="bounce1"></div>
				  <div class="bounce2"></div>
				  <div class="bounce3"></div>
				</div>
				<div class="country-display-list" id="item-display-list">
				</div>
 			</div>
 		</div>
 </div>



