<div class="page-header">
	<h3 class="search-country-header">
		Search for Countries
	</h3>
	<div class="row">
		<div class="span12">
			<div class="offset2 span8">
				<input class="input-block-level search-countries" id="search-countries"  type="text" placeholder=".input-block-level">
			</div>
		</div>
	</div>
	<div class="search-result-container">
	</div>
</div>
 
	  

 
