 <!-- coutnry modal -->
 <div id="country-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
     <h3 id="modal-country-name text-center">Modal header</h3>
   </div>
   <div class="modal-body">
      <p><strong>Capital :</strong> </p><p id="country-capital"></p>
      <p><strong>Region :</strong> </p><p id="country-region"></p>
      <p><strong>Subregion :</strong></p><p id="country-sub-region"></p>
      <p><strong>Population :</strong> </p><p id="country-population"></p>
      <p><strong>Nativename :</strong> </p><p id="country-native-name"></p>
      <p><strong>Calling Code :</strong> </p><p id="country-calling-codes"></p>
      <p><strong>Top level domain :</strong> </p><p id="country-top-level-domain"></p>
      <p><strong>Coutnry codes :</strong></p><p id="country-country-codes"></p>
      <p><strong>Currency :</strong></p><p id="country-currencies"></p>
      <p><strong>Language :</strong>  </p><p id="country-languages"></p>
   </div>
 </div>

 <div class="span12">
 		<div class="row">
 			<div class="span8">
 				<div id="map-canvas">
 					
 				</div>
 			</div>
 			<div class="span4">
 				<div class="country-search-box">
 					<input id="search-countries" class="typeahead input-block-level search-countries"   type="text" placeholder="countries">
 				</div>
				<div class="country-search-list" id="country-search-list">
				</div>
 			</div>
 		</div>
 </div>

<!-- 
 <div class="modal hide fade" id="country-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
     <h3 id="modal-country-name">Modal header</h3>
   </div>
   <div class="modal-body">
     <p>One fine body…</p>
   </div>
   <div class="modal-footer">
     <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
     <button class="btn btn-primary">Save changes</button>
   </div>
 </div> -->


 <!-- Modal -->




