<div id="country-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   <h3 id="modal-country-name" class="text-center"></h3>
 </div>
 <div class="modal-body">
 <table class="table">
   <tr>
     <th>Capital:</th><th id="country-capital"></th>
   </tr>
   <tr>
     <td>Region</td><td id="country-region"></td>
   </tr>
   
   <tr>
     <td>Subregion:</td><td id="country-sub-region"></td>
   </tr>
   <tr>
     <td>Population</td><td id="country-population"></td>
   </tr>
   <tr>
     <td>Native Name </td><td id="country-native-name"></td>
   </tr>
   <tr>
     <td>Country Calling COde</td><td id="country-calling-codes"></td>
   </tr>
   <tr>
     <td>Country codes</td><td id="country-codes"></td>
   </tr>
   <tr>
     <td>Currency</td><td id="country-currencies"></td>
   </tr>
   <tr>
     <td>Language</td><td id="country-languages"></td>
   </tr>
 </table>
    <!-- <p class="inline"><strong>Capital :</strong> </p><p id="country-capital" class="inline"></p>
    <br>
    <p class="inline"><strong>Region :</strong> </p><p id="country-region" class="inline"></p>
    <br>
    <p class="inline"><strong>Subregion :</strong></p><p id="country-sub-region" class="inline"></p>
    <br>
    <p class="inline"><strong>Population :</strong> </p><p id="country-population" class="inline"></p>
    <br>
    <p class="inline"><strong>Nativename :</strong> </p><p id="country-native-name" class="inline"></p>
    <br>
    <p class="inline"><strong>Calling Code :</strong> </p><p id="country-calling-codes" class="inline"></p>
    <br>
    <p class="inline"><strong>Top level domain :</strong> </p><p id="country-top-level-domain" class="inline"></p>
    <br>
    <p class="inline"><strong>Coutnry codes :</strong></p><p id="country-country-codes" class="inline"></p>
    <br>
    <p class="inline"><strong>Currency :</strong></p><p id="country-currencies" class="inline"></p>
    <br>
    <p class="inline"><strong>Language :</strong>  </p><p id="country-languages" class="inline"></p>
    <br> -->
 </div>
</div>