 <div id="country-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
     <h3 id="modal-country-name" class="text-center"></h3>
   </div>
   <div class="modal-body">
      <p><strong>Capital :</strong> </p><p id="country-capital"></p>
      <p><strong>Region :</strong> </p><p id="country-region"></p>
      <p><strong>Subregion :</strong></p><p id="country-sub-region"></p>
      <p><strong>Population :</strong> </p><p id="country-population"></p>
      <p><strong>Nativename :</strong> </p><p id="country-native-name"></p>
      <p><strong>Calling Code :</strong> </p><p id="country-calling-codes"></p>
      <p><strong>Top level domain :</strong> </p><p id="country-top-level-domain"></p>
      <p><strong>Coutnry codes :</strong></p><p id="country-country-codes"></p>
      <p><strong>Currency :</strong></p><p id="country-currencies"></p>
      <p><strong>Language :</strong>  </p><p id="country-languages"></p>
   </div>
 </div>