 <%= erb :modal %>
 <div class="span12">
    <div class="row">
      <div class="span8">
        <div id="map-canvas">
          
        </div>
      </div>
      <div class="span4 regions">
        <div id="pannel-show" class="text-center pannel-show">
          <i class="icon-arrow-left"></i>
        </div>
        <div class="countries-category-accordian" id="countries-category-accordian">
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle text-center" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  Regions
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in text-center">
                <% @regions.each do |region| %>
                  <div class="accordion-inner  region-name">
                    <%= region %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div id="country-display-list">
          
        </div>
      </div>
      <div class="result">
        
      </div>
    </div>
 </div>

