 <div class="countries-category-accordian" id="countries-category-accordian">
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle text-center region-header" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
         <h3><%= @category_name %></h3> 
        </a>
      </div>
      <div id="collapseOne" class="accordion-body collapse in text-center">
        <% @result_list.each do |region| %>
          <div  class="accordion-inner  category-pannel">
            <a href="<%= @set_region_link + region  + @set_countries_link%>"><%= region %></a> 
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>