/*.country-block{
	width: 100%;
	background-color: #E4E4E4;
	height: 120px;
	border-radius: 29px;
	margin-top: 2%;
	margin-bottom: 2%;
}

#map-canvas{
	width: 400px;
	height: 400px;
	background-color: #CCC;
}

.coutnry-list-title{
	text-align: center;
}

.country{
	margin: 0 auto;
	display: block;
}

ul.country{
	list-style: none;
	text-align:center;
	padding-top: 8%;
  color: #22313F;
}

.search-country-header{
	text-align: center;
}

input.search-countries{
	height: 50px	;
}

 
.country-grid > a:hover 
{
	text-decoration: none;
}

.single-country > .country-name{
	text-align: center;
}


.country-people-img-div img{
	width: 100%;
}

/*spinner loader css start*/
/*.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
  display: none;
}

.outer-search-div{
	background-image:url("/images/background.jpg");
	height: 300px;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out;
  animation: sk-bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
 /* -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}*/ 
/*spinner loader css end*/


#map-canvas{
	width: 100%;
	height: 300px;
	background-color: #ccc;
}

ul.country-list{
  text-align: center;
}
/*
.panne-show{
  display: none;
}
*/
.region-name, .pannel-show{
  cursor: pointer;
}